<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static',
    filename='style.css') }}">
    <script tpye="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
    <title>AWS-Snapshots</title>
  </head>

  <body>
    <h1>Daily-Snapshots - ASG</h1>
    <h3>{{ hostname }}</h3>
    <p>private IP: {{ environ }}</p>
    <p>public IP: {{ public_ip }}</p>
    <label for="regions">Regions: </label>
    <select name="regions" id="regions">
      <option value="ap-northeast-2">Seoul</option>
      <option value="ap-northeast-3">Osaka</option>
      <option value="us-west-2">Oregon</option>
    </select>
    <p></p>
    <div>
      <table id="ec2">
        <thead>
          <th>id</th>
          <th>name</th>
          <th></th>
          <th>check</th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="snapshots">
      <h2>Snapshots</h2>
      <h3></h3>
      <ul id="list"></ul>
    </div>
  </body>
</html>
